<%- include ('../partials/header.ejs') %>

<h1>Pessoas</h1>
<p><a href="/pessoas/create">Nova pessoa</a></p>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Cargo</th>
    <th>Ações</th>
  </tr>
  <% pessoas.map( pessoa => { %>
  <tr>
    <td><%= pessoa.id %></td>
    <td><%= pessoa.nome %></td>
    <td><%= pessoa.cargo %></td>
    <td>
      <a
        type="button"
        class="btn btn-warning"
        href="/pessoas/edit/<%= pessoa.id %>"
        >Editar</a
      >
      <a
        type="button"
        class="btn btn-danger"
        href="/pessoas/delete/<%= pessoa.id %>"
        onclick="return confirm(`Deseja realmente excluir da sua lista?`)"
        >Excluir</a
      >
    </td>
  </tr>
  <% }) %>
</table>

<%- include ('../partials/footer.ejs') %>
