  <%- include ('../partials/header'); %>
  <div class="login-box">
   <h2>Editar Pessoas</h2>
   <form method="POST">
     <div class="user-box">
       <label>Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="<%=pessoa.nome%>"
     </div>
     <div class="user-box">
       <label>Data de Nascimento</label>
      <input type="text" class="form-control" id="nascimento" name="nascimento" placeholder="Data de Nascimento" value="<%= pessoa.nascimento %>">
     </div>
     <div class="user-box">
       <label>Cargo</label>
      <input type="text" class="form-control" id="cargo" name="cargo" value="<%= pessoa.cargo %>" placeholder="Cargo">
     </div>
     <div class="user-box">
       <label>Sexo</label>
       <select  name="sexo" class="form-control">
        <option selected="selected" value="<%=pessoa.sexo%>"><%= pessoa.sexo %></option>
        <option value="male">male</option>
        <option value="female">female</option>
       </select>
     </div>
     <button type="submit">
       Submit
     </button>
   </form>
 </div>
<%- include ('../partials/footer.ejs'); %>